In [3]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import Imputer

In [4]:
file = 'data.csv'
df = pd.read_csv(file)

In [5]:
df['prestige1']= df['prestige']
df = df.drop(['prestige'], axis=1)

In [6]:
df = df.drop(['job'],axis=1)

In [7]:
df.head()

   education  income  women  census  type  prestige1
0      13.11   12351  11.16    1113  prof       68.8
1      12.26   25879   4.02    1130  prof       69.1
2      12.77    9271  15.70    1171  prof       63.4
3      11.42    8865   9.11    1175  prof       56.8
4      14.62    8403  11.68    2111  prof       73.5

In [8]:
df=df.fillna('other')

In [9]:
df[df.type=='other']

    education  income  women  census   type  prestige1
33      11.44    8206   8.13    3373  other       54.1
52       9.62     918   7.00    5143  other       14.8
62       9.46     611  96.53    6147  other       25.9
66       6.84    3643   3.60    7112  other       44.1

In [10]:
df = pd.get_dummies(df,prefix=['type'])

In [11]:
df.head()

,education,income,women,census,prestige1,type_bc,type_other,type_prof,type_wc
0,13.11,12351,11.16,1113,68.8,0,0,1,0
1,12.26,25879,4.02,1130,69.1,0,0,1,0
2,12.77,9271,15.70,1171,63.4,0,0,1,0
3,11.42,8865,9.11,1175,56.8,0,0,1,0
4,14.62,8403,11.68,2111,73.5,0,0,1,0

In [12]:
X = df[['education','income', 'women','census', 'type_bc', 'type_other','type_prof','type_wc']]

In [13]:
y = df['prestige1']
y.head()

0    68.8
1    69.1
2    63.4
3    56.8
4    73.5
Name: prestige1, dtype: float64

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 101)

In [15]:
# #feature scaling
# #from sklearn.preprocessing import StandardScaler
# #sc_X = StandardScaler()
# X_train = sc_X.fit_transform(X_train)
# X_test = sc_X.transform(X_test)

In [16]:
X_train.head()

    education  income  women  census  type_bc  type_other  type_prof  type_wc
88       9.93    7147   0.99    8733        1           0          0        0
41      11.04    2901  92.86    4171        0           0          0        1
23      15.96   25308  10.56    3111        0           0          1        0
26      12.46    4614  96.12    3131        0           0          1        0
22      15.08    8034  46.80    2733        0           0          1        0

In [17]:
np.var(X_train)

education     7.717758e+00
income        1.456917e+07
women         1.066529e+03
census        6.902471e+06
type_bc       2.459829e-01
type_other    5.316405e-02
type_prof     2.082920e-01
type_wc       1.666336e-01
dtype: float64

In [18]:
print(np.cov(X_train.education,y_train)[0][1])
print(np.cov(X_train.women,y_train)[0][1])
print(np.cov(X_train.census,y_train)[0][1])
print(np.cov(X_train.type_bc,y_train)[0][1])
print(np.cov(X_train.type_other,y_train)[0][1])
print(np.cov(X_train.type_prof,y_train)[0][1])
print(np.cov(X_train.type_wc,y_train)[0][1])
print(np.cov(X_train.income,y_train)[0][1])

43.147711468812886
-60.10444124748488
-29393.69929577464
-5.475010060362172
-0.6722132796780685
6.579094567404425
-0.4318712273641851
50676.37434607645

In [19]:
print(np.corrcoef(X_train.education,y_train))[0][1]
print(np.corrcoef(X_train.women,y_train)[0][1])
print(np.corrcoef(X_train.census,y_train)[0][1])
print(np.corrcoef(X_train.type_bc,y_train)[0][1])
print(np.corrcoef(X_train.type_other,y_train)[0][1])
print(np.corrcoef(X_train.type_prof,y_train)[0][1])
print(np.corrcoef(X_train.type_wc,y_train)[0][1])
print(np.corrcoef(X_train.income,y_train)[0][1])

0.8663014386851096
-0.10265430983005346
-0.6240348120391159
-0.6157285398401381
-0.16261286293414207
0.8040567176018791
-0.05901057319343967
0.740533863831983

In [20]:
print(y_train.size)

71

In [24]:
X_train=X_train.drop('type_wc',axis=1)

In [25]:
from sklearn import linear_model
reg = linear_model.LinearRegression()
reg = reg.fit(X_train, y_train)                                       
reg.coef_

array([ 3.07507896e+00,  1.43908356e-03,  2.21687815e-02,  9.64537017e-04,
       -4.92916258e+00, -2.55678959e+00,  8.80361847e+00])

In [26]:
reg.intercept_

-2.141954700938946

In [30]:
print(y_train)

88     50.2
41     38.7
23     87.2
26     64.7
22     66.1
93     42.9
27     34.9
20     84.6
66     44.1
30     67.5
35     41.9
76     44.2
98     25.1
24     66.7
99     26.1
33     54.1
54     47.3
100    42.2
17     58.1
85     50.3
42     36.1
74     28.8
78     41.8
15     55.1
68     35.3
67     21.5
55     47.1
18     58.3
65     20.1
94     26.5
       ...
82     37.2
73     33.3
0      68.8
10     62.0
19     72.8
72     23.2
44     38.1
34     46.0
59     29.7
29     69.3
8      73.1
49     41.5
89     51.1
12     53.8
5      77.6
64     17.3
60     20.2
92     29.9
97     35.9
4      73.5
40     32.7
77     35.9
9      68.8
75     42.5
87     40.9
63     20.8
70     25.2
81     50.8
11     60.0
95     66.1
Name: prestige1, Length: 71, dtype: float64

In [31]:
reg.predict(X_train)

array([42.19479586, 42.06337539, 95.39502766, 56.76790785, 68.26903046,
       37.00702923, 31.71533968, 76.77958387, 28.51697209, 49.37255103,
       43.81561633, 37.75511965, 32.32023182, 79.7289028 , 34.48999102,
       45.72289426, 50.50795993, 42.45379391, 62.94654937, 43.3860973 ,
       38.33403736, 27.52978204, 34.75848094, 62.93908919, 37.54524205,
       29.30017271, 47.55313369, 70.34917094, 28.03299325, 30.19045387,
       44.6409321 , 44.70130487, 37.16577748, 48.76181719, 31.32038938,
       35.17657341, 76.64733114, 30.31614697, 60.73027681, 44.42237453,
       33.33974427, 40.7119969 , 28.56404973, 66.07100328, 55.38207014,
       60.50758548, 27.99676814, 40.88431702, 45.43324127, 28.27088597,
       72.03318119, 69.7741006 , 44.2098764 , 39.52964007, 63.75971652,
       72.78078294, 26.50484692, 30.97235024, 32.01963341, 33.29787134,
       66.00700634, 45.23368542, 36.29560472, 69.64132468, 43.58049882,
       41.17684505, 27.26645753, 32.11704574, 35.42326169, 56.90350096,
       73.38685776])

In [32]:
from numpy import linalg as LA

In [33]:
n = LA.norm(y_train-reg.predict(X_train),2)**2

In [34]:
error = y_train - reg.predict(X_train)

In [35]:
y_train.size

71

In [36]:
sum_errors = 0
for y in error:
    sum_errors = sum_errors + y*y
sigma = sum_errors/(y_train.size - 7 - 1)
sigma

60.38951521673472

In [38]:
print(n)

3804.539458654288

In [39]:
X_train

     education  income  women  census  type_bc  type_other  type_prof
88        9.93    7147   0.99    8733        1           0          0
41       11.04    2901  92.86    4171        0           0          0
23       15.96   25308  10.56    3111        0           0          1
26       12.46    4614  96.12    3131        0           0          1
22       15.08    8034  46.80    2733        0           0          1
93        8.33    6928   0.61    8791        1           0          0
27        9.45    3485  76.14    3135        1           0          0
20       15.97   12480  19.59    2711        0           0          1
66        6.84    3643   3.60    7112        0           1          0
30       12.79    5180  76.04    3156        0           0          0
35       11.49    3148  95.97    4113        0           0          0
76        8.81    6686   4.28    8313        1           0          0
98        7.93    4224   3.59    9173        1           0          0
24       15.94   14558   4.32    3115        0           0          1
99        8.37    4753   0.00    9313        1           0          0
33       11.44    8206   8.13    3373        0           1          0
54       11.60    8131  13.09    5171        0           0          0
100      10.00    6462  13.58    9511        1           0          0
17       14.15    6112  77.10    2351        0           0          1
85       10.10    7716   0.78    8582        1           0          0
42        9.22    5511   7.62    4172        0           0          0
74        6.74    3485  39.48    8278        1           0          0
78        7.92    6477   5.17    8335        1           0          0
15       14.21    6336  54.77    2331        0           0          1
68        8.88    6860   0.00    7711        1           0          0
67        8.60    1656  27.75    7182        1           0          0
55       11.09    6992  24.44    5172        0           0          0
18       15.22    9593  34.89    2391        0           0          1
65        7.58    3582  30.08    6193        1           0          0
94        7.52    3910   1.09    8798        1           0          0
..         ...     ...    ...     ...      ...         ...        ...
82       10.29    5449   2.92    8537        1           0          0
73        6.69    4443  31.36    8267        1           0          0
0        13.11   12351  11.16    1113        0           0          1
10       12.39    5902   1.91    2161        0           0          1
19       14.50    4686   4.14    2511        0           0          1
72        7.42    1890  72.24    8221        1           0          0
44       10.51    3161  96.14    4175        0           0          0
34       11.59    4036  97.51    4111        0           0          0
59        7.74    3116  52.00    6121        1           0          0
29       15.21   10432  24.71    3151        0           0          1
8        14.52   11377   1.03    2143        0           0          1
49        9.84    7482  17.04    5130        0           0          0
89        8.24    8880   0.65    8780        1           0          0
12       13.83    8425  15.33    2183        0           0          1
5        15.64   11030   5.13    2113        0           0          1
64        7.11    3472  33.57    6191        1           0          0
60        8.50    3930  15.51    6123        1           0          0
92        7.81    4549   2.46    8785        1           0          0
97        7.58    5562   9.47    9171        1           0          0
4        14.62    8403  11.68    2111        0           0          1
40       12.09    3016  83.19    4161        0           0          0
77        8.40    6565   2.30    8333        1           0          0
9        14.64   11023   0.94    2153        0           0          1
75       10.09    8043   1.50    8311        1           0          0
87        9.05    8316   1.34    8731        1           0          0
63        7.33    3000  69.31    6162        1           0          0
70        7.64    5134  17.26    8215        1           0          0
81        8.76    3942  74.54    8534        1           0          0
11       12.30    7059   7.83    2163        0           0          1
95       12.27   14032   0.58    9111        0           0          1

[71 rows x 7 columns]

In [40]:
sigma = n/(y_train.size - 7 - 1)
print(sigma)

60.38951521673473

In [42]:
print(reg.coef_)
print(reg.coef_[5])

[ 3.07507896e+00  1.43908356e-03  2.21687815e-02  9.64537017e-04
 -4.92916258e+00 -2.55678959e+00  8.80361847e+00]
-2.5567895901388904

In [43]:
reg.intercept_

-2.141954700938946

In [44]:
coefficients = []
for x in reg.coef_:
    coefficients.append(x)
print(coefficients)

[3.075078962820239, 0.0014390835564693444, 0.022168781486792882, 0.0009645370167960582, -4.929162577308903, -2.5567895901388904, 8.803618471695865]

In [49]:
X_test.head()

    education  income  women  census  type_bc  type_other  type_prof  type_wc
37      10.64    2448  91.76    4133        0           0          0        1
1       12.26   25879   4.02    1130        0           0          1        0
69       7.54    4199  33.30    8213        1           0          0        0
80       8.78    6573   5.78    8515        1           0          0        0
91       6.60    5959   0.52    8782        1           0          0        0

In [50]:
X_test=X_test.drop('type_wc',axis=1)

In [51]:
error1 = y_test - reg.predict(X_test)
sum_errors1 = 0
for y in error1:
    sum_errors1 = sum_errors1 + y*y
sigma1 = sum_errors1/(y_train.size - 7 - 1)
sigma1

26.939421295164358

In [56]:
weights = []
for x in range(7):
    weights.append(reg.coef_[x])
print(weights)

[3.075078962820239, 0.0014390835564693444, 0.022168781486792882, 0.0009645370167960582, -4.929162577308903, -2.5567895901388904, 8.803618471695865]

In [62]:
exact = sum(y_test - reg.predict(X_test)<0.1)
total = len(y_test)
print('The accuracy1 = ' + str(float(100*exact/total)) + '%')

The accuracy1 = 41.0%